$primaryColor: #645bff;
$secondaryColor: #fff;
$hoverColor: #111;
$light-blue: #C7DEEE;
$fontColor: #666666;
$anchorText: #5583A5;
$yellow: #FFB725;
$light-gray: #E7E6E3;
$pink: #E5A6DE;
$light-pink: #FFF1FF;
$green: #63BB6C;